body{background-color: white;}


.top-bar{background-color:#1C1C1C;
		width:100%;
		height:50px;
		}
#margin-top{margin-top:10px;}

ul{list-style-type:none;

	}
li{display:inline;
	padding-top:10px;
}

.jumbotron{margin-top: 10px;
			height:300px;}
.jumbotron img{margin-bottom: 50px;}
#box{height:200px;
	width:100%px;
	border: 1px solid black;
	background:#D8D8D8;}

.one{background-color:#428bca;
	margin-right: 12%;
}
.two{background-color:#5cb85c;
	margin-right: 12%;}
.three{background-color:#f0ad4e;
		}
.redBox{background-color: #FA5858;
		margin-right: 7%;
		margin-left: 10px;
		height:200px;
		}
.btn{margin-top: 20px;}

h2{border-bottom:2px solid black;
padding-top: 20px;}
.actionCall{background-color:#81F781;
			width:100%;
			height:100px;
			margin-top: 50px;}

#video{background-color:#81DAF5;
		width:40%;
		margin-top: 20px;}
#blueRow{width:100%;
		height:200px;
		background-color: #5858FA;}

.footer{background-color: #2E2E2E;
		width:100%;
		height:350px;}
.footer li{color:#f2f2f2;}
.footer p{color:#f2f2f2;}
.footer h4{color:#f2f2f2;}